<a href="https://colab.research.google.com/github/Mijael126/Challenge_analisis_datos-/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [5]:
tienda.shape

(2359, 12)

In [6]:
tienda4.shape

(2358, 12)

In [11]:
tienda[['Producto','Vendedor']]

               Producto         Vendedor
0     Asistente virtual      Pedro Gomez
1       Mesa de comedor  Beatriz Morales
2         Juego de mesa   Juan Fernandez
3            Microondas   Juan Fernandez
4      Silla de oficina    Maria Alfonso
...                 ...              ...
2354          Iphone 15  Izabela de León
2355          Impresora    Lucas Olivera
2356      Juego de mesa    Lucas Olivera
2357           Cama box      Pedro Gomez
2358         Smartwatch    Felipe Santos

[2359 rows x 2 columns]

#1. Análisis de facturación

In [21]:
Ingreso_T1 = tienda['Precio'].sum()
print(Ingreso_T1)

1150880400.0

In [18]:
Ingreso_T2 = tienda2['Precio'].sum()
print(Ingreso_T2)

1116343500.0

In [19]:
Ingreso_T3 = tienda3['Precio'].sum()
print(Ingreso_T3)

1098019600.0

In [20]:
Ingreso_T4 = tienda4['Precio'].sum()
print(Ingreso_T4)

1038375700.0

# 2. Ventas por categoría

In [28]:
tienda.groupby('Categoría del Producto')['Producto'].count().to_frame().sort_values('Producto',ascending=False)
#
#

                         Producto
Categoría del Producto
Muebles                       465
Electrónicos                  448
Juguetes                      324
Electrodomésticos             312
Deportes y diversión          284
Instrumentos musicales        182
Libros                        173
Artículos para el hogar       171

In [29]:
tienda2.groupby('Categoría del Producto')['Producto'].count().to_frame().sort_values('Producto',ascending=False)

                         Producto
Categoría del Producto
Muebles                       442
Electrónicos                  422
Juguetes                      313
Electrodomésticos             305
Deportes y diversión          275
Instrumentos musicales        224
Libros                        197
Artículos para el hogar       181

In [30]:
tienda3.groupby('Categoría del Producto')['Producto'].count().to_frame().sort_values('Producto',ascending=False)

                         Producto
Categoría del Producto
Muebles                       499
Electrónicos                  451
Juguetes                      315
Electrodomésticos             278
Deportes y diversión          277
Libros                        185
Artículos para el hogar       177
Instrumentos musicales        177

In [31]:
tienda4.groupby('Categoría del Producto')['Producto'].count().to_frame().sort_values('Producto',ascending=False)

                         Producto
Categoría del Producto
Muebles                       480
Electrónicos                  451
Juguetes                      338
Deportes y diversión          277
Electrodomésticos             254
Artículos para el hogar       201
Libros                        187
Instrumentos musicales        170

# 3. Calificación promedio de la tienda

In [37]:
tienda.groupby('Lugar de Compra')['Calificación'].mean().to_frame().sort_values('Calificación', ascending=False)

                 Calificación
Lugar de Compra
Soacha               4.600000
Neiva                4.500000
Bucaramanga          4.387097
Leticia              4.156250
Villavicencio        4.090909
Bogotá               4.089431
Pasto                4.043478
Cartagena            4.037736
Inírida              4.000000
Cali                 3.985866
Pereira              3.947368
Cúcuta               3.882353
Medellín             3.866785
Manizales            3.800000
Santa Marta          3.750000
Barranquilla         3.573333
Riohacha             3.450000
Armenia              3.357143
Valledupar           2.666667

In [38]:
tienda2.groupby('Lugar de Compra')['Calificación'].mean().to_frame().sort_values('Calificación', ascending=False)

                 Calificación
Lugar de Compra
Valledupar           4.750000
Neiva                4.333333
Riohacha             4.285714
Pasto                4.280000
Cali                 4.252252
Bogotá               4.136041
Cartagena            4.028571
Leticia              4.000000
Armenia              4.000000
Cúcuta               3.983051
Pereira              3.953125
Medellín             3.919192
Villavicencio        3.833333
Manizales            3.769231
Barranquilla         3.717949
Santa Marta          3.650000
Bucaramanga          3.580000
Inírida              2.500000
Soacha               2.250000

In [39]:
tienda3.groupby('Lugar de Compra')['Calificación'].mean().to_frame().sort_values('Calificación', ascending=False)

                 Calificación
Lugar de Compra
Bogotá               4.160732
Cali                 4.056452
Pereira              4.044776
Bucaramanga          4.040000
Barranquilla         4.025974
Medellín             4.001724
Soacha               4.000000
Pasto                4.000000
Villavicencio        4.000000
Cartagena            3.910714
Cúcuta               3.909091
Riohacha             3.772727
Leticia              3.756098
Inírida              3.750000
Armenia              3.571429
Santa Marta          3.477273
Neiva                3.400000
Valledupar           3.333333
Manizales            3.285714

In [40]:
tienda4.groupby('Lugar de Compra')['Calificación'].mean().to_frame().sort_values('Calificación', ascending=False)

                 Calificación
Lugar de Compra
Valledupar           5.000000
Soacha               4.500000
Pasto                4.200000
Pereira              4.114754
Riohacha             4.113636
Cartagena            4.095238
Bogotá               4.068618
Bucaramanga          4.060000
Cúcuta               4.000000
Cali                 3.925197
Medellín             3.916811
Barranquilla         3.887500
Leticia              3.828571
Inírida              3.666667
Neiva                3.611111
Santa Marta          3.542857
Manizales            3.333333
Villavicencio        3.285714
Armenia              3.000000

# 4. Productos más y menos vendidos

In [42]:
# Conteo de productos por tienda
ventas_por_producto = tienda.groupby(['Lugar de Compra','Producto']).size().reset_index(name='Cantidad')

# Ordenar dentro de cada tienda
ventas_ordenadas = ventas_por_producto.sort_values(['Lugar de Compra','Cantidad'], ascending=[True, False])

ventas_ordenadas.head()  # muestra los más vendidos por tienda

  Lugar de Compra                   Producto  Cantidad
9         Armenia           Silla de oficina         2
0         Armenia    Bloques de construcción         1
1         Armenia  Carrito de control remoto         1
2         Armenia                 Cubertería         1
3         Armenia            Cubo mágico 8x8         1

In [43]:
ventas_ordenadas.tail()  # muestra los menos vendidos por tienda

    Lugar de Compra                 Producto  Cantidad
472   Villavicencio  Bloques de construcción         1
474   Villavicencio          Cubo mágico 8x8         1
475   Villavicencio                Impresora         1
477   Villavicencio             Refrigerador         1
478   Villavicencio                 Smart TV         1

# 5. Envío promedio por tienda

In [49]:
tienda.groupby('Lugar de Compra')['Costo de envío'].mean().to_frame().sort_values('Costo de envío', ascending=False)

                 Costo de envío
Lugar de Compra
Soacha             43420.000000
Cúcuta             40129.411765
Pasto              35078.260870
Villavicencio      34709.090909
Neiva              31516.666667
Bucaramanga        30587.096774
Manizales          29140.000000
Cali               28827.561837
Inírida            28460.000000
Medellín           28207.104796
Leticia            24450.000000
Riohacha           24357.500000
Bogotá             23815.853659
Barranquilla       23708.000000
Cartagena          22624.528302
Santa Marta        22593.750000
Pereira            22403.759398
Valledupar         18766.666667
Armenia            17314.285714

In [50]:
tienda2.groupby('Lugar de Compra')['Costo de envío'].mean().to_frame().sort_values('Costo de envío', ascending=False)

                 Costo de envío
Lugar de Compra
Inírida            64900.000000
Armenia            44525.000000
Neiva              36033.333333
Villavicencio      32766.666667
Soacha             30375.000000
Cali               28312.612613
Pasto              26988.000000
Medellín           26701.851852
Cúcuta             26323.728814
Bogotá             25997.055838
Bucaramanga        25796.000000
Leticia            25329.411765
Riohacha           19042.857143
Barranquilla       18660.256410
Santa Marta        18627.500000
Pereira            17808.593750
Cartagena          16181.428571
Valledupar         14050.000000
Manizales          13476.923077

In [51]:
tienda3.groupby('Lugar de Compra')['Costo de envío'].mean().to_frame().sort_values('Costo de envío', ascending=False)

                 Costo de envío
Lugar de Compra
Manizales          48914.285714
Valledupar         45933.333333
Cartagena          32669.642857
Cúcuta             30109.090909
Armenia            29442.857143
Bogotá             25809.766022
Barranquilla       25450.649351
Leticia            25253.658537
Pereira            25154.477612
Bucaramanga        24810.000000
Soacha             23833.333333
Cali               23449.193548
Riohacha           23118.181818
Medellín           23003.448276
Pasto              22531.250000
Neiva              22430.000000
Inírida            18825.000000
Santa Marta        15043.181818
Villavicencio      11820.000000

In [52]:
tienda4.groupby('Lugar de Compra')['Costo de envío'].mean().to_frame().sort_values('Costo de envío', ascending=False)

                 Costo de envío
Lugar de Compra
Soacha             44750.000000
Riohacha           28972.727273
Pereira            27626.229508
Bucaramanga        27410.000000
Inírida            26800.000000
Neiva              26600.000000
Cali               26200.393701
Leticia            26174.285714
Pasto              25710.000000
Medellín           23256.672444
Barranquilla       23016.250000
Bogotá             22519.778002
Cartagena          20907.936508
Santa Marta        20045.714286
Valledupar         14500.000000
Villavicencio      12914.285714
Cúcuta             12331.250000
Manizales          11366.666667
Armenia             4566.666667